
:root{
  --bg-header: #2d4e73;
  --black: #000;
  --white: #fff;
  --body-text: rgb(39, 39, 39);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--black);
}

header{
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background-color: var(--bg-header);
  box-shadow: 0px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10000;
}
header .logo{
  height: 40px;
  color: var(--white);
  display: flex;
  align-items: center;
}
header h1{
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  margin-left: 10px;
}
header nav{
  display: none;
}
header .open-menu{
  font-size: 3rem;
  color: var(--white);
}

.slider{
  width: 100%;
}
.swiper-container {
  width: 100%;
  height: 250px;
}
.swiper-container img{
  width: 100%;
  height: 250px;
}

main{
  width: 100%;
}

.about{
  padding: 30px 20px;
  text-align: center;
}
.about .desc{
  margin-bottom: 50px;
}
.about h2{
  font-family: 'Overpass', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: var(--bg-header);
}
.about .house-icon{
  font-size: 10rem;
  color: var(--bg-header);
  margin: 10px 0;
}
.about p{
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
  color: var(--body-text);
}
.about p span{
  color: var(--bg-header);
  font-weight: 800;
}
.about .eye-icon{
  font-size: 10rem;
  color: var(--bg-header);
  margin: 10px 0;
}

.services{
  width: 100%;
  padding: 10px;
}
.services h2{
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: var(--bg-header);
}
.services .container{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .container .card{
  width: 100%;
  padding: 30px;
  margin: 40px 0;
  background-color: var(--bg-header);
  color: var(--white);
  text-align: left;
}
.card .card-img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.services .container .card img{
  height: 120px;
  margin-bottom: 50px;
}
.services .container .card h3{
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
  margin-bottom: 10px;
}
.services .container .card p{
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 80px;
}
.services .container .card button{
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: var(--white);
  outline: none;
  font-size: 1.6rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--body-text);
}

footer{
  width: 100%;
  padding: 30px 20px;
  background-color: var(--bg-header);
  text-align: center;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.information h2{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 10px;
}
.data .item{
  margin: 15px 0;
}
.data .item h6{
  font-size: 1.2rem;
  font-weight: 400;
  opacity: .8;
  margin-bottom: 5px;
}
.data .item span{
  font-size: 1.4rem;
  font-weight: 600;
}
.item .socials .sn-icon{
  font-size: 2rem;
}